@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@200;300;400;500;700;800&display=swap');

:root {
    --primary-color: #047aed;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Newsreader', serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    width: 100%;
    height: 100%;
}

/* Navbar */

.navbar {
    background-color: #fff;
    height: 90px;
    font-size: 17px;
   
}

.navbar .container {
    justify-content: space-between;
}

.logo-div {
    display: flex;
    max-width: 160px;
    line-height: 1.2;
    align-items: center;
}

.navbar img {
    width: 100px;
    height: 85px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px var(--primary-color) solid;
    color: var(--primary-color);
}

.toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: url('menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    background-color: #333;
    border-radius: 5px;
    visibility: hidden;
}

.toggle.active {
    background: url('close.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    background-color: #333;
}


/* Showcase */
.showcase {
    height: 500px;
    background-color: var(--primary-color);
}

.showcase-container {
    height: 100%;
    overflow: hidden;
}

.showcase-text {
    max-width: 75%;
    margin: 0 auto;
}

.showcase-text h1 {
    font-size: 35px;
    line-height: 1.2;
    margin: 10px 0;
}

.showcase-text p {
    font-size: 20px;
    margin: 20px 0;
}
.showcase-image {
    height: 100%;
}

.showcase-text {
    animation: slideInFromLeft 2s ease-in;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
}

.btn:hover {
    transform: scale(0.97);
}

/* Intro */
.intro {
    background-color: rgb(240, 240, 240);
    padding: 30px 0;
}

.intro-text {
    text-align: center;
    margin: 1.5rem auto;
    max-width: 85%;
}

.intro-text h1 {
    font-size: 35px;
}

.intro-text p {
    font-size: 19px;
}

.image-slider {
    width: 75%;
    margin: 20px auto;
    height: 550px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
} 

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

/* manual navigation */
.manual-navigation {
    position: absolute;
    display: flex;
    bottom: 20px;
    width: 100%;
    justify-content: center;
}

.manual-btn {
    border: 2px solid var(--primary-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 30px;
}

.manual-btn:hover {
    background:var(--primary-color);
}


#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    bottom: 20px;
}

.navigation-auto div {
    border: 2px solid var(--primary-color);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 30px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: var(--primary-color);
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: var(--primary-color);
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: var(--primary-color);
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: var(--primary-color);
}

/* Student Activities */
.activities h1 {
    font-size: 35px;
    text-align: center;
    max-width: 85%;
    margin: 30px auto;
}

.activities .container {
    max-width: 95%;
    padding-bottom: 40px;
}

.activities .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid-item {
    height: 100%;
    width: 100%;
}

.grid-item.text {
    padding: 50px 30px;
}

.grid-item.text:hover {
    background-color: rgb(240, 240, 240);
}

.grid-item img {
    transition: 1s ease-in;
}

.grid-item img:hover {
    transform: scale(0.98);
}

.grid-item.text h2 {
    margin: 30px 0 20px;
}

.grid-item.text p {
    font-size: 17px;
    margin-bottom: 20px;
}

.grid-item.text a {
   color: var(--primary-color)
}

.grid-item.text a:hover {
    color: #333;
}

footer {
    background:#002240;
    color: #fff;
}

footer h1 {
  padding: 30px 0 20px;
}

footer .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}

footer img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

footer .container div {
    height: 100%;
}

footer .container div h3 {
    margin-bottom: 20px;
}

.social a {
    color: var(--primary-color);
}

.developer {
    padding: 30px;
    text-align: center;
}

/* Utilities */
.container {
    max-width: 85%;
    margin: 0 auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100%
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }

}


@media(max-width: 960px) {

    .toggle {
        visibility: visible;
    }

    .navbar nav {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: 400px;
        background-color: #fff;
        z-index: 5;
        opacity: -2;
        transition: 0.4s;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .navbar ul li {
        padding: 15px 0
    }

    .navbar nav.active {
        opacity: 1;
        animation: slideInFromTop 0.7s ease-in;
    }


}

/* Tables & Under */

@media(max-width: 768px) {
    .navbar .container {
        max-width: 100%;
    }

    .logo-div {
    
    }
    
    .navbar {
        font-size: 16px;
    }

    .navbar img {
        width: 90px;
        height: 75px;
    }

    .grid,
    .activities .grid,
    footer .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {
        height: auto;
    }

    .showcase-image {
        order: 1;
    }

    .showcase-text {
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
        order: 2;
    }

    .intro .container {
        max-width: 95%;
    }

    .image-slider {
        width: 95%;
        height: 450px;
    }

    footer h1 {
        font-size: 1.8em;
    }

    footer .container div {
        padding-bottom: 30px;
    }

    .developer {
        padding-top: 0;
    }
}

/* Mobiles */

@media(max-width: 500px) {
    .image-slider {
        height: 350px;
    } 
}